<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a class="nav-item nav-link" href="/register">Register</a>
        
        <% if (user) { %>

          <form class=in-inline style="position: absolute; right: 2%"  method="POST" action="/logout">
            <button type="submit" class="btn btn-primary" style="float: right;">Logout</button>
            <label style="text-align: text-center; padding-top: .3em; margin-right: 1em; font-size: 1.2em; color: whitesmoke"> Logged in As: <%= user.email %></label>
          </form> 
      
        <% } else { %>

          <form class=in-inline style="position: absolute; right: 2%"  method="POST" action="/login">
            <button type="submit" class="btn btn-primary" style="float: right;">Login</button>
            <input class="form-control" type="text" name="username" placeholder="username" style="width: 200px; float: right;">
          </form>  

          <% } %>
     
        </div>
    </div>
  </nav>
</header> 
